// ========== Primary colors ===========
$primary-dark-green: rgb(0,133,63);
$primary-middle-green: rgb(140,198,63);
$primary-light-green: rgb(214,224,62);
$white-color: #ffffff;

// ========== Background colors ===========
$background-color: $primary-light-green;

// ========== Text colors ===========
$text-color: $primary-dark-green;

// ========== Button colors ===========
$button-background: #008540;
$button-background-hover: #006430;
$button-background-alt: #f58220;
$button-background-alt-hover: darken($button-background-alt, 6%);
