// ==================== Banner box size =============

@mixin size ($width, $height, $background-color) {
  width: $width;
  height: $height;
  background-color: $background-color;
}

// ==================== Banner box background =============

@mixin background ($background-image, $background-position, $background-size) {
  background-image: url("../img/#{$background-image}.png");
  background-position: $background-position;
  background-size: $background-size;
  background-repeat: no-repeat;
}

@mixin animation ($name, $duration, $count, $delay, $fill) {
  animation: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-delay: $delay;
  animation-fill-mode: $fill;
}

// ==================== Text settings =============

@mixin text ($family, $size,$line, $weight, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
  color: $color;
}

// ==================== Position =============

@mixin position ($top, $left) {
  top: $top;
  left: $left;
}



// ==================== Button =============

@mixin button () {
  display: block;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  background-color: $button-background;
  transition: .2s linear;
  &:hover {
    background-color: $button-background-hover;
  }
}


// ==================== Keyframes =============


// == no1
@keyframes text-enter-l-r-fade {
  0%   {opacity: 1;}
  30%  {opacity: 1; transform: translateX(30px);}
  90%  {opacity: 1; transform: translateX(30px);}
  100% {opacity: 0; transform: translateX(30px);}
}

// == no2
@keyframes text-enter-l-r-up {
  0%   {opacity: 0;}
  30%  {opacity: 1; transform: translate(30px, -30px);}
  100% {opacity: 1; transform: translate(30px, -30px);}
}

// == no3
@keyframes jump {
  0%   {}
  100% {opacity: 1; transform: scale(1) translateY(0px);}
}



