/* ============== Fonts ==================*/

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('ITCAvantGardeStd-Md.eot');
  src: url('../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  src: url('../fonts/ITCAvantGardeStd-Bk.eot');
  src: url('../fonts/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra';
  src: url('../fonts/ITCAvantGardeStd-XLt.eot');
  src: url('../fonts/ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-XLt.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-XLt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../fonts/ITCAvantGardeStd-Bold.eot');
  src: url('../fonts/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  src: url('../fonts/ITCAvantGardeStd-Demi.eot');
  src: url('../fonts/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Demi.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ============== Grid ==================*/

#banner-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  max-width: 146px !important;
  max-height: 600px !important;
  overflow: hidden;
  #banner-box-1 {
    @include size(160px, 600px, $primary-middle-green);
    max-width: 160px !important;
    max-height: 600px !important;
    display: block;
    position: relative;
    overflow: hidden;


    // ==== logo ==========
    .logo {
      height: auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      img {
        @include animation(logo, 1s, 1, .5s, forwards);
        transform: translateX(-300px);
      }
    }

    // ==== text ==========
    .text {
      @include position(245px, 0);
      position: absolute;
      width: 100%;
      p:first-child {
        @include text('ITC Avant Garde Gothic Std', 18px, 1.5, 600, $white-color);
        @include animation(text-enter-l-r, 2.5s, 1, 1.5s, forwards);
        opacity: 1;
        padding: 0 30px;
        transform: translate(-140px);
        text-align: center;
        z-index: 100;
      }
      p:last-child {
        @include text('ITC Avant Garde Gothic Std Demi', 18px, 1.5, normal, $white-color);
        @include animation(text-enter-r-l, 1s, 1, 3.5s, forwards);
        transform: translate(340px, -120px);
        padding: 0 25px;
        text-align: center;
        opacity: 0;
      }
    }

    // ==== button ==========
    .cta {
      position: absolute;
      @include position(170px, 24px);
      z-index: 3;
      a {
        @include text('ITC Avant Garde Gothic Std Book', 14px, 40px, normal, $white-color);
        @include animation(text-enter-l-r-button, 1s, 1, .5s, forwards);
        @include button ();
        transform: translateX(300px);
      }
    }

    // ==== info box ==========
    .info {
      @include animation(fade-in-scale, 1s, 1, 3.8s, forwards);
      @include position(370px, 35px);
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      transform: scale(.4);
      p {
        @include text('ITC Avant Garde Gothic Std Book', 14px, 1.3, 800, $text-color);
        margin: 0;
        text-align: center;
      }
      a {
        @include text('ITC Avant Garde Gothic Std Book', 14px, 1.3, 800, $text-color);
        margin: 0;
        text-align: center;
        text-decoration: none;
        transition: .3s linear;
        &:hover {
          color: darken($text-color, 10%);
        }
      }
      .bold {
        @include text('ITC Avant Garde Gothic Std', 12px, 1.3, 800, $text-color);
        margin-right: 2px;
      }
    }

    // ==== items box ==========
    .items {
      @include position(350px, 0);
      display: flex;
      flex-direction: row;
      position: absolute;
      height: 100px;
      width: 100%;
      overflow: hidden;
      img {
        @include animation(slide-right, 2.7s, 1, 1s, forwards);
        transform: translateX(-1000px) scale(1);
        opacity: 0.5;
        margin-right: 100px;
        height: 110px;
        z-index: 1;
      }
    }

    // ==== Discount image ==========
    .image {
      position: absolute;
      @include position(470px, 20px);
      img {
        @include animation(scale-up, 1s, 1, 3.8s, forwards);
        transform: scale(0);
        width: 130px;
        height: 110px;
      }
    }
  }
}
