// ==================== Banner box size =============

@mixin size ($width, $height, $background-color) {
  width: $width;
  height: $height;
  background-color: $background-color;
}

// ==================== Banner box background =============

@mixin background ($background-image, $background-position, $background-size) {
  background-image: url("../img/#{$background-image}.png");
  background-position: $background-position;
  background-size: $background-size;
  background-repeat: no-repeat;
}


// ==================== Animation mixin =============
@mixin animation ($name, $duration, $count, $delay, $fill) {
  animation: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-delay: $delay;
  animation-fill-mode: $fill;
}

// ==================== Position mixin =============
@mixin position ($top, $left) {
  top: $top;
  left: $left;
}


// ==================== Text settings =============

@mixin text ($family, $size,$line, $weight, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
  color: $color;
}


// ==================== Button =============

@mixin button () {
  display: block;
  padding: 0 45px;
  text-align: center;
  text-decoration: none;
  background-color: $button-background;
  transition: .2s linear;
  &:hover {
    background-color: $button-background-hover;
  }
}


// ==================== Keyframes =============


// == no1
@keyframes box-background {
  0%   {}
  100% {background-color: $primary-middle-green;}
}

// == no3
@keyframes text-enter-b-t {
  0%   {opacity: 0;}
  50%  {opacity: 1; transform: translate(40px, -55px);}
  100% {opacity: 0; transform: translate(40px, -15px);}
}

// == no3
@keyframes text-enter-t-b {
  0%   {opacity: 0;}
  100% {opacity: 1; transform: translate(20px, -15px);}
}

// == no3
@keyframes info {
  0%   {opacity: 0;}
  100% {opacity: 1; transform: translateY(0);}
}

// == no4
@keyframes text-enter-l-r-button {
  0%   {opacity: 0;}
  100% {opacity: 1; transform: translateX(0px)}
}

// == no5
@keyframes logo {
  0%   {opacity: 0;}
  100% {opacity: 1; transform: translate(0);}
}

// == no9
@keyframes slide-down {
  0%   {}
  100% {transform: translateY(15px);}
}

// == no9
@keyframes slide-rotate {
  0%   {}
  25%  {opacity: 1;}
  100% {top: -10px; right: -20px; opacity: 1; transform: rotateX(2160deg);}
}







