/* ============== Fonts ==================*/

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('ITCAvantGardeStd-Md.eot');
  src: url('../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  src: url('../fonts/ITCAvantGardeStd-Bk.eot');
  src: url('../fonts/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra';
  src: url('../fonts/ITCAvantGardeStd-XLt.eot');
  src: url('../fonts/ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-XLt.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-XLt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std';
  src: url('../fonts/ITCAvantGardeStd-Bold.eot');
  src: url('../fonts/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  src: url('../fonts/ITCAvantGardeStd-Demi.eot');
  src: url('../fonts/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Demi.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ============== Grid ==================*/

#banner-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 300px !important;
  max-height: 300px !important;
  overflow: hidden;
  #banner-box-1 {
    @include size(300px, 300px, white);
    @include animation(box-background, .5s, 1, .5s, forwards);
    max-width: 300px !important;
    max-height: 300px !important;
    display: block;
    position: relative;
    overflow: hidden;


    // ==== logo ==========
    .logo {
      height: auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      img {
        @include animation(logo, 1s, 1, .5s, forwards);
        transform: translateX(300px);
      }
    }

    // ==== text ==========
    .text {
      @include position(190px, 5px);
      position: absolute;
      width: 100%;
      p:first-child {
        @include text('ITC Avant Garde Gothic Std', 22px, 1.3, 600, $white-color);
        @include animation(text-enter-t-b, 2s, 1, 5.2s, forwards);
        opacity: 0;
        transform: translate(20px, -120px);
        z-index: 100;
      }
      p:last-child {
        @include text('ITC Avant Garde Gothic Std Demi', 22px, 1.3, normal, $white-color);
        @include animation(text-enter-b-t, 2.2s, 1, 4s, forwards);
        transform: translate(20px, -120px);
        opacity: 0;
      }
    }

    // ==== button ==========
    .cta {
      position: absolute;
      @include position(240px, 20px);
      z-index: 3;
      a {
        @include text('ITC Avant Garde Gothic Std Book', 14px, 40px, normal, $white-color);
        @include animation(text-enter-l-r-button, 1s, 1, .5s, forwards);
        @include button ();
        transform: translate(-550px);
      }
    }

    // ==== info box ==========
    .info {
      @include animation(info, 2s, 1, 5.2s, forwards);
      @include position(190px, 25px);
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0;
      transform: translateY(-40px);
      p {
        @include text('ITC Avant Garde Gothic Std Book', 13px, 1.3, 800, $text-color);
        margin: 0;
      }
      a {
        @include text('ITC Avant Garde Gothic Std Book', 13px, 1.3, 800, $text-color);
        margin: 0;
        text-decoration: none;
        transition: .3s linear;
        &:hover {
          color: darken($text-color, 10%);
        }
      }
      .bold {
        @include text('ITC Avant Garde Gothic Std', 12px, 1.3, 800, $text-color);
        margin-right: 10px;
      }
    }

    // ==== items box ==========
    .items {
      @include position(-10px, 20px);
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 170px;
      overflow: hidden;
      img {
        @include animation(slide-down, 3s, 1, 1s, forwards);
        transform: scale(.8) translateY(-600px);
        margin-bottom: 50px;
        opacity: 1;
        height: 110px;
        z-index: 1;
      }
    }

    // ==== Discount image ==========
    .image {
      @include animation(slide-rotate, 2s, 1, 5s, forwards);
      opacity: 0;
      position: absolute;
      top: -200px;
      right: -20px;
      img {
        width: 120px;
        height: 100px;
      }
    }
  }
}
