// ========== Primary color ===========

$primary-dark-green: rgb(0,133,63);
$primary-middle-green: rgb(140,198,63);
$primary-light-green: rgb(214,224,62);

$white-color: white;


$background-color: $primary-light-green;
$text-color: $primary-dark-green;

$button-background: #008540;
$button-background-hover: #006430;