// ==================== Banner box size =============

@mixin size($width, $height, $background-color) {
  width: $width;
  height: $height;
  background-color: $background-color;
}

// ==================== Banner box background =============

@mixin background($background-image, $background-position, $background-size) {
  background-image: url("../img/#{$background-image}.png");
  background-position: $background-position;
  background-size: $background-size;
  background-repeat: no-repeat;
}

@mixin animation($name, $duration, $count, $delay, $fill) {
  animation: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-delay: $delay;
  animation-fill-mode: $fill;
}

// ==================== Text settings =============

@mixin text($family, $size,$line, $weight, $color) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
  color: $color;
}

// ==================== Position =============
@mixin position($top, $left) {
  top: $top;
  left: $left;
}

// ==================== Button =============

@mixin button() {
  display: block;
  padding: 0 35px 0 20px;
  text-align: center;
  text-decoration: none;
  background-color: $button-background-alt;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.38);
  transition: .3s ease-in-out;
  &:hover {
    background-color: $button-background-alt-hover;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  }
}

// ==================== Keyframes =============

// == no1
@keyframes pelikan {
  0% {
  }

  100% {
    background-position: 69px 17px;
  }

}

// == no2
@keyframes text-enter-l-r {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(30px);
  }
}

// == no3
@keyframes text-enter-l-r-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

// == no4
@keyframes scale-up {
  0% {
  }
  100% {
    transform: scale(1);
  }
}





